:root {
  /* Colors - Theme 1*/
  --bg-main-dark-blue: hsl(222, 26%, 31%);
  --bg-keypad-dark-blue: hsl(223, 31%, 20%);
  --bg-screen-dark-blue: hsl(224, 36%, 15%);
  --bg-key-dark-blue: hsl(225, 21%, 49%);
  --shadow-key-dark-blue: hsl(224, 28%, 35%);
  --hover-key-dark-blue: hsl(224, 51%, 76%);
  --bg-key-red: hsl(6, 63%, 50%);
  --shadow-key-red: hsl(6, 70%, 34%);
  --hover-key-red: hsl(6, 93%, 67%);
  --bg-key-grayish-orange: hsl(30, 25%, 89%);
  --shadow-key-grayish-orange: hsl(28, 16%, 65%);
  --hover-key-grayish-orange: hsl(0, 0%, 100%);
  --txt-dark-blue: hsl(221, 14%, 31%);
  --txt-white: hsl(0, 0%, 100%);
  /* Typography */
  --primary-font-family: "League Spartan", sans-serif;
  --normal-weight: 700;
  --padding-container: 2rem;
  --border-radius: 10px;
}

/* --- RESET --- */
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

*::before,
*::after {
  display: block;
}

img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: center center;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  appearance: none;
}

table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

body {
  min-height: 100vh;
  background-color: var(--bg-main-dark-blue);
  font-size: 100%;
  font-family: var(--primary-font-family);
  color: var(--txt-white);
  hyphens: auto;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 550px;
  padding: 1.75rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: initial;
  gap: 2rem;
}

.calculator {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__title {
  font-size: 2rem;
}

.theme {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
.theme__title {
  margin: 5px 0;
  align-self: flex-end;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
}

.toggle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.toggle__container {
  width: 100%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 0.4rem;
}
.toggle__container--bg {
  background-color: var(--bg-keypad-dark-blue);
  border-radius: 1.25rem;
  overflow: hidden;
}
.toggle__label {
  font-size: 0.875rem;
}
.toggle__radio {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s;
}
.toggle__radio:checked {
  background-color: var(--bg-key-red);
}
.toggle__radio:checked:hover {
  background-color: var(--hover-key-red);
}

.screen {
  width: 100%;
  padding: var(--padding-container);
  border-radius: var(--border-radius);
  background-color: var(--bg-screen-dark-blue);
  text-align: end;
  font-size: 4rem;
  outline: none;
}
.screen::placeholder {
  color: var(--txt-dark-blue);
}

.keys {
  width: 100%;
  padding: var(--padding-container);
  border-radius: var(--border-radius);
  background-color: var(--bg-keypad-dark-blue);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  align-items: center;
  justify-items: center;
  gap: 1.5625rem;
}
.keys__number, .keys__delete, .keys__operator, .keys__decimal, .keys__reset, .keys__equal {
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  padding: 1rem;
  text-align: center;
  font-size: 2rem;
  font-weight: var(--normal-weight);
  cursor: pointer;
  user-select: none;
  transition: background-color 0.2s;
}
.keys__number, .keys__operator, .keys__decimal {
  background-color: var(--bg-key-grayish-orange);
  color: var(--txt-dark-blue);
  box-shadow: inset 0 -0.3rem 0 var(--shadow-key-grayish-orange);
}
.keys__number:hover, .keys__operator:hover, .keys__decimal:hover {
  background-color: var(--hover-key-grayish-orange);
}
.keys__delete, .keys__reset {
  background-color: var(--bg-key-dark-blue);
  color: var(--txt-white);
  box-shadow: inset 0 -0.3rem 0 var(--shadow-key-dark-blue);
  text-transform: uppercase;
  font-size: 1.5rem;
}
.keys__delete:hover, .keys__reset:hover {
  background-color: var(--hover-key-dark-blue);
}
.keys__reset {
  grid-column: 1/3;
  grid-row: 5;
}
.keys__equal {
  background-color: var(--bg-key-red);
  color: var(--txt-white);
  box-shadow: inset 0 -0.3rem 0 var(--shadow-key-red);
  grid-column: 3/5;
  grid-row: 5;
}
.keys__equal:hover {
  background-color: var(--hover-key-red);
}

.footer {
  width: 100%;
  text-align: center;
}

.attribution {
  padding: 2rem;
  font-size: 1rem;
}
.attribution__link {
  font-style: italic;
}
.attribution__link:hover {
  text-decoration: 4px underline var(--bg-key-red);
}

/*# sourceMappingURL=style.css.map */
