@use "mixins";

.keys {
  width: 100%;
  padding: var(--desktop-padding-container);
  border-radius: var(--border-radius);
  background-color: var(--bg-keypad);
  display: grid;
  grid-template: {
    columns: repeat(4, 1fr);
    rows: repeat(5, 66px);
  }
  align-items: center;
  justify-items: center;
  gap: mixins.rem(25);

  &__number,
  &__delete,
  &__operator,
  &__decimal,
  &__reset,
  &__equal {
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
    text-align: center;
    font: {
      size: mixins.rem(32);
      weight: var(--normal-weight);
    }
    cursor: pointer;
    user-select: none;
    transition: 0.2s;

    &:active {
      height: 95%;
      box-shadow: none;
      align-self: flex-end;
    }
  }

  &__number,
  &__operator,
  &__decimal {
    @include mixins.key(primary, secondary);
  }

  &__delete,
  &__reset {
    @include mixins.key(secondary, primary);
    text-transform: uppercase;
    font-size: mixins.rem(24);
  }

  &__reset {
    grid: {
      column: 1/3;
      row: 5;
    }
  }

  &__equal {
    @include mixins.key(tertiary, primary);
    grid: {
      column: 3/5;
      row: 5;
    }
  }

  //Media Query
  @include mixins.mediaQuery() {
    padding: var(--mobile-padding-container);
    gap: mixins.rem(13);
  }
}

.theme3 {
  .keys__equal {
    color: var(--tertiary-txt);
  }
}
