@use "mixins";

.main {
  width: 100%;
  min-height: 100vh;
  @include mixins.displayFlex($align: center, $justify: center);
}

.calculator {
  width: 100%;
  max-width: 550px;
  padding: mixins.rem(28) mixins.rem(24);
  @include mixins.displayFlex(column, center, initial, 2rem);
}
