@use "sass:math";

@function rem($px) {
  $size: math.div($px, 16);
  @return #{$size}rem;
}

@mixin displayFlex($direction: null, $align, $justify, $gap: null) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
  gap: $gap;
}

@mixin key($bg, $color, $shadow, $size: rem(32)) {
  background-color: var(--bg-key-#{$bg});
  color: var(--txt-#{$color});
  box-shadow: inset 0 -0.3rem 0 var(--shadow-key-#{$shadow});
  font: {
    size: $size;
    weight: var(--normal-weight);
  }
}
