@use "sass:math";

@function rem($px) {
  $size: math.div($px, 16);
  @return #{$size}rem;
}

@mixin displayFlex($direction: null, $align, $justify, $gap: null) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
  gap: $gap;
}
