@use "mixins";

.screen {
  width: 100%;
  padding: var(--padding-container);
  border-radius: var(--border-radius);
  background-color: var(--bg-screen-dark-blue);
  text-align: end;
  font-size: mixins.rem(64);
  outline: none;

  &::placeholder {
    color: var(--txt-dark-blue);
  }
}
