@use "mixins";

.screen{
  width: 100%;
  height: mixins.rem(93);
  padding: 2rem;
  border-radius: 10px;
  background-color: var(--bg-screen-very-dark-desaturated-blue);
  text-align: end;
  font-size: mixins.rem(32);
}
